#img1{   
    /*float: left;*/
    width: 90%;
    height: auto;
    margin-top: 10%;    
}

.col-lg-4{
    margin-top: 5%;
    text-align: center;
    padding-left: 5%;
   /*margin-left: 100px;*/
   
    
}
.form-info{
    height: 85%;
    box-shadow: 2px 4px lightgray;
}
.col-lg-7{
   
    /* height:1024px; */
    background: #1c92d2;  /* fallback for old browsers */
    background-image: linear-gradient(to bottom, #f9fdff, #9dbbe2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-right: 5px;
}
.container1 {
    object-fit: contain;
  }
  h3{
      margin-top: 20%;
      margin-bottom: 10%;
  }
  input{
      margin-top: 5%;
      padding: 2px;
      width: 75%;
      height: 40px;
      padding-left: 5%;   
    
  }
  .btn{
        margin-top: 15%;
        width: 75%;
        box-shadow: 2px 4px lightgray;
  }
  p{
      margin-top: 10%;
      font-size: 1.3em;
  }
  
  